.background {
  background-color: rgba(179, 215, 255, 0.5);
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.afspraak {
  width: 32%;
  background-color: #F9F9F9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="submit"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button {
  background-color: #28a745;
}

input[type="submit"]:hover,
button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
}

.afspraak-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.afspraak-label {
  font-weight: bold;
  width: 100px; /* Adjust the width as needed */
}

.afspraak-value {
  margin-left: 8px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }
}
