.background {
  background-color: rgba(179, 215, 255, 0.5);
  padding: 20px;
  position: relative;
}

.add-notificatie-button {
  width: 56px !important;
  height: 56px !important;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  color: lightgreen;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.informatie-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.main-content {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.afspraken-container {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.afspraken-lijst-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.notificaties {
  width: 20%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  margin-left: 20px;
}

.notificaties ul, .afspraken-lijst {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notificaties li, .afspraken-lijst li {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.notificatie-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notificatie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.notificatie-knoppen {
  display: flex;
  align-items: center;
}

.bewerk-notificatie-knop, .verwijder-notificatie-knop {
  background-color: transparent;
  color: #808080;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.bewerk-notificatie-knop:hover, .verwijder-notificatie-knop:hover {
  background-color: lightgray;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.afspraak-item {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.afspraak-item.voltooid {
  background-color: #e0ffe0;
  border-color: #00cc00;
}

.afspraak-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.afspraak-label {
  font-weight: bold;
  width: 100px;
}

.afspraak-value {
  margin-left: 8px;
  flex: 1;
  text-align: left;
}

.afspraak-feedback {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
  width: 100%;
}

button {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.verwijder-knop, .voltooi-knop {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voltooi-knop {
  background-color: #4CAF50;
  right: 40px;
}

.verwijder-knop:hover {
  background-color: #ff0000;
}

.voltooi-knop:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .sidebar,
  .main-content,
  .notificaties {
    width: 100%;
  }

  .notificaties {
    margin-top: 20px;
    margin-left: 0px;
  }
}
