.background {
  background-color: rgba(179, 215, 255, 0.5);
  padding: 20px;
  position: relative;
}

.add-notificatie-button {
  width: 56px !important;
  height: 56px !important;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  color: lightgreen;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.afspraak-form {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.notificaties {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box; /* Zorgt ervoor dat de padding wordt meegerekend in de breedte */
  width: 25%; /* Stelt de breedte van het notificatiegedeelte in */
}

.notificaties ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notificaties li {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notificatie-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notificatie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.notificatie-knoppen {
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.afspraken-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
  width: 75%; /* Stelt de breedte van het afspraken container in */
}

.afspraken-lijst {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.afspraak-item {
  background-color: #F9F9F9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
  flex: 0 1 calc(50% - 20px);
  margin: 10px;
}

.afspraak-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.afspraak-label {
  font-weight: bold;
  width: 100px;
}

.afspraak-value {
  margin-left: 8px;
  flex: 1;
  text-align: left;
}

button {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.verwijder-knop, .voltooi-knop {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 0; /* Zet de padding op 0 */
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voltooi-knop {
  background-color: #4CAF50;
  right: 40px;
}

.verwijder-knop:hover {
  background-color: #ff0000;
}

.voltooi-knop:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .afspraak-form,
  .notificaties {
    width: 100%;
  }

  .afspraken-container {
    width: 100%;
  }

  .afspraken-lijst {
    flex-direction: column;
  }

  .afspraak-item {
    flex: 0 1 100%;
  }
}

@media (max-width: 500px) {
  .afspraak-item {
    flex: 0 1 100%;
  }
}
